
/* contenu de la page */
body > * {   padding-left: 10px; }

/* polices de caractères */
body { font-family: American typewriter, serif; }

/* positionnement des champs */
label { display: block; }
label span { display: inline-block; width: 5em; height: 1.5em; }

a.delete:hover {
  color: red;
}
h1:hover { 
  color: white;
  border: none;
  box-shadow: none;
  background-color: rgba(255,200,255,0.3);
  border-top: 3px solid rgba(255,255,200,0.6);
  border-bottom: 3px solid rgba(255,255,255,0.6);
  margin-top: 1.33em;
  text-shadow: 3px 3px 3px black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1.33em;
  font-variant: small-caps
}
h2{ 
  color: white;
  margin-top: 1.33em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1.33em;
}
h2:hover { 
  color: white;
  border: none;
  margin-top: 1.33em;
  text-shadow: 3px 3px 3px black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1.33em;

}
a:link
{
text-decoration:none;
}
#map { height: 400px; width: 600px; }
